.btn {
    background-color: yellowgreen;
    color: black;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 50px;
}

.btn:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.centered-btn-wrapper {
    display: flex;
justify-content: center;
}